#content{
	margin-left: 240px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	position: absolute;
	background: url('images/home_bg_optimized.png') no-repeat center top, url('images/home_bg_optimized_repeat.png') repeat center;
}
.caption{
	display: inline-block;
	font-weight: bold;
	vertical-align: top;
	width: 40%;
}
.value{
	display: inline-block;
	overflow: hidden;
	max-height: 140px;
	color: #656565;
}
.value.docuemnt{
	position: absolute;
}
.unit-container{
	margin: 0px 0px;
}
.dependent{
	margin-left: 5px;
	width: inherit;
}
.page{
	display:none;
}
.current{
	display: block;
}
.content{
	padding-top: 25px;
	padding-bottom: 25px;
	border: 1px dashed #ccc;
	padding-left: 25px;
	width: 90%;
	margin-top: 10px;
}
.header{
	font-size: 40px;
	padding-top: 120px;
}




#content nav
{
	position: absolute;
	top: 50%;
	right: 0;
	width: 46px;
	height: 94px;
	z-index: 1000;
	margin-top: -48px;
}
#content nav #up
{
	background: url('images/home_top_button.png') 0px 0px;
	transition: background 200ms;
	position: relative;
	width: 43px;
	height: 43px;		
	
}
#content nav #up:hover
{
	background: url("images/home_top_button.png") 0px -43px;
}
#content nav #down:hover
{
	 background: url("images/home_bottom_button.png") 0px 43px;
}
#content nav #down
{
	background: url('images/home_bottom_button.png') 0px 0px;
	transition: background 200ms;
	position: relative;
	width: 43px;
	height: 43px;		
}
.breaker
{
	height: 2px;
}
.slide{
	position: relative;
}
.candidate{
	display:none;
}
.edit-button{
	position: relative;font-size: 20px;margin-left: 20px;color: #ccc;cursor: pointer;
}
.edit-button:hover{
	color: #a7a7a7;
}
.input-group-btn .btn{
	width: 164px;
}
.input-group-btn .dropdown-toggle{
	width: 70px;
}
#gallery{
	position: relative;
}
#quick-nav{
	position:fixed;
	top: 137px;
	right: 0px;
	width: 30px;
}
.circle {
	display:block;
	text-decoration:none;
	border-radius:100%;
	background:#b3b3b3;
	width:20px;
	cursor: pointer;
	margin-bottom: 10px;
	height: 20px;
	color:#fff;
	text-align:center;
	font:bold 16px/100px Arial, sans-serif;
	text-transform:uppercase;
	transition: all 0.4s ease-in-out;
	box-shadow:inset 0 0 0 5px rgba(0,0,0,.5), inset 0 0 0 10px rgba(255,255,255,.3);
}
.circle.active-circle{
	box-shadow:inset 0 0 0 10px rgba(255,255,255,.5), inset 0 0 0 100px rgba(0,0,0,.5);
}
.circle:hover {
	box-shadow:inset 0 0 0 10px rgba(255,255,255,.5), inset 0 0 0 100px rgba(0,0,0,.5);
}
.remove-all-files{
	position: absolute;
	cursor:pointer;
	top:-2px;
	right:1px;
	zoom: 1.5;
}
.docs-container{
	display:inline-block;
	margin-right: 15px;
	min-height: 120px;
}
.unit-container.document{
	display:inline-block;
	width: 45%;
}
.unit-container.document .caption{
	width: 60%;
}
.document .doc-icons{
	zoom: 0.6;
}
.document .docs-container{
	min-height: 60px;
	margin-top: -10px;
}
.document .doc-links{
	margin-left: -20px;
}
.doc-links{
	display: block;
	position: absolute;
	margin-left: -10px;
	width: 80px;
	overflow: hidden;
	font-size: 10px;
	text-align: center;
}
.doc-icons{
	background-image:url('images/doc-icons.png');
	background-repeat: no-repeat;
	width: 70px;
	height: 83px;
	cursor: pointer;
	display: block;
}
.doc-icons.css{
	background-position: -423px -143px;
}
.doc-icons.html{
	background-position: -181px -143px;
}
.doc-icons.pdf{
	background-position: -181px -250px;
}
.doc-icons.ppt{
	background-position: -302px -250px;
}
.doc-icons.xls{
	background-position: -423px -250px;
}
.doc-icons.doc,.doc-icons.docx{
	background-position: -60px -250px;
}

#notification-panel{
	width: 70%;
	float: right;
	margin-top: 56px;
	margin-right: 61px;
}
#clock-panel,#breadcrumb-panel{
	width: 75%;
	float: right;
}