#content{
	margin-left: 240px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	position: absolute;
	background: url('images/home_bg_optimized.png') no-repeat center top, url('images/home_bg_optimized_repeat.png') repeat center;
}
.caption{
	display: inline-block;
	font-weight: bold;
	vertical-align: top;
	width: 40%;
}
.value{
	display: inline-block;
	overflow: hidden;
	max-height: 140px;
	color: #656565;
}
.unit-container{
	margin: 0px 0px;
}
.dependent{
	margin-left: 5px;
	width: inherit;
}
.page{
	display:none;
}
.current{
	display: block;
}
.content{
	padding-top: 25px;
	padding-bottom: 25px;
	border: 1px dashed #ccc;
	padding-left: 25px;
	width: 80%;
	margin-top: 10px;
}
.header{
	font-size: 40px;
	padding-top: 70px;
}




#content nav
{
	position: absolute;
	top: 50%;
	right: 0;
	width: 46px;
	height: 94px;
	z-index: 1000;
	margin-top: -48px;
}
#content nav #up
{
	background: url('images/home_top_button.png') 0px 0px;
	transition: background 200ms;
	position: relative;
	width: 43px;
	height: 43px;		
	
}
#content nav #up:hover
{
	background: url("images/home_top_button.png") 0px -43px;
}
#content nav #down:hover
{
	 background: url("images/home_bottom_button.png") 0px 43px;
}
#content nav #down
{
	background: url('images/home_bottom_button.png') 0px 0px;
	transition: background 200ms;
	position: relative;
	width: 43px;
	height: 43px;		
}
.breaker
{
	height: 2px;
}
.slide{
	position: relative;
}
#gallery{
	position: relative;
}